<template name="footer">
  <footer class="bn-docs-footer" role="contentinfo">
    <div class="container">
      <p>
        一点点微小的工作 by
        <a href="https://github.com/BuptStEve" target="_blank">@BuptStEve</a>
      </p>

      <p>
        Powered by the <a href="https://www.meteor.com" target="_blank">Meteor</a> & <a href="https://www.mongodb.org" target="_blank">MongoDB</a> & <a href="http://getbootstrap.com" target="_blank">BootStrap</a> with the help of <a href="http://www.qcloud.com" target="_blank">腾讯云</a> and <a href="https://www.aliyun.com" target="_blank">阿里云</a>
      </p>

      <p>
        本项目源码受 <a rel="license" href="http://mit-license.org/" target="_blank">MIT</a>开源协议保护，文档受 <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。
      </p>

      <ul class="bn-docs-footer-links text-muted">
        <li>当前版本: v0.4.0</li>
        <li>·</li>
        <li><a href="https://github.com/BuptStEve/byrs-news">GitHub 仓库</a></li>
        <li>·</li>
        <li><a href="https://wekan.io/b/5b7v6YC5dMbTrpkkX/byrs-news">RoadMap</a></li>
        <li>·</li>
        <li><a href="http://www.miitbeian.gov.cn/">京ICP备16011641号-1</a></li>
      </ul>
    </div>
  </footer>
</template>
