.bn-docs-footer
  padding 20px 0
  margin-top 20px
  color #767676
  text-align center
  border-top 1px solid #e5e5e5
  background-color #fff

.bn-docs-footer-links
  padding-left 0
  margin-top 20px
  li
    display inline
    padding 0 2px
