.comments
  list-style-type none
  margin 0 0 0 -40px
  li
    h4
      // 标题
      margin 0 0 5px 0
      font-size 16px
      .comment-submmitted
        font-size 12px
        font-weight normal
    p
      // 内容
      span.like
        right 30px !important

