body
  color #666
  background #eee
  // padding-top 70px

hr
  // 分割线
  border-top 1px dashed #666

#main
  position relative

#spinner
  height 300px

.article,
.comments li
  margin-bottom 10px
  border-radius 5px
  padding 10px
  background #fff
  -webkit-box-shadow 0 1px 1px rgba(0, 0, 0, .15)
  -moz-box-shadow 0 1px 1px rgba(0, 0, 0, .15)
  box-shadow 0 1px 1px rgba(0, 0, 0, .15)

.load-more
  // 加载更多
  display block
  margin-bottom 10px
  border-radius 3px
  height 60px
  line-height 60px
  text-align center
  background rgba(0, 0, 0, 0.05)

  &:hover
    text-decoration none
    background rgba(0, 0, 0, 0.1)

.progress
  // 进度条
  margin-bottom 0
