<template name="commentsSearch">
  <div class="search-container">
    <div class="page-header">
      <h1>回帖搜索 <small>默认匹配楼层、作者、正文 <small>支持正则表达式(直接输入内容两端无需加 /)</small></small></h1>

      <div class="well well-sm">
        * 可选项:「 url | author 」
        <br>
        * 可用操作符:「 : 」
        <br>
        * 举一些栗子:
        <br>
        <small>&nbsp;&nbsp;1. #2 -> 正则匹配2楼、20+楼，或回帖中含有“#2”内容的回帖</small>
        <br>
        <small>&nbsp;&nbsp;2. ^求offer$ -> 严格正则匹配作者名称，或回帖中以“求”开头以“r”结尾的帖子</small>
        <br>
        <small>&nbsp;&nbsp;ps 增加空格后使用可选项与操作符可以缩小搜索范围</small>
        <br>
        <small>&nbsp;&nbsp;3. 233 author:steve -> 匹配 233 并且作者名称中含有“steve”内容的帖子</small>
      </div>
    </div>

    <!-- <form class="form-horizontal" onsubmit="return false;">
      <input type="text" class="form-control" id="search-box" placeholder="需要搜索的标题">
    </form> -->

    <ul class="comments">
      {{#each items}}
        {{> commentItem}}
      {{else}}
        {{#if searchReady}}
          <p>然而可惜可能并没有搜到什么鬼╮(╯_╰)╭</p>
        {{/if}}
      {{/each}}
    </ul>

    {{#if moreResults}}
      <a class="load-more search-more">加载更多</a>
    {{/if}}

    {{#unless searchReady}}
      <!-- 模板级订阅: 评论 -->
      <div style="position: fixed; top: 50%; left: 50%;">
        {{> spinner}}
      </div>
    {{/unless}}
  </div>
</template>
