#sideNav
  background #fff
  border-radius 5px
  a
    // 限制长度
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
  // .glyphicon
  //   float right

.nav
  .active
    font-weight bold
    background-color #eee

.affix
  top 61px
  width 213px

.affix-bottom
    position absolute
    width 213px

@media (min-width: 1200px)
  .affix
    width 255px
  .affix-bottom
      width 255px
